/* ++++++ commons ++++++ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.left {
    float: left;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.round-border {
    border-radius: 10px;
}
.layover {
    background-color:  rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
a, p, h3, h4 {
    font-size: 17px;
    color: rgb(149, 149, 149);
}

/* ++++++ header ++++++ */
header #logo {
    height: 60px;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
    margin: 20px 0;
}
header nav {
    height: 40px;
    line-height: 40px;
}
header nav li {
    list-style: none;
    float: left;
    margin-right: 15px;
}
header nav li a {
    text-transform: uppercase;
    text-decoration: none;
}

/* ++++++ jumbotron ++++++ */
.jumbotron {
    margin: 20px 0;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .layover {
    padding: 300px 40% 100px 60px;
}
.jumbotron h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: white;
}
.jumbotron p {
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    color: white;
}

/* ++++++ main ++++++ */

/* main header */
main .main-header {
    padding: 20px 0;
}
main .main-header h4 {
    font-weight: 300;
}
/* main body */
main .main-body {
    padding: 20px 0;
}
main .main-body .sidebar {
    width: 20%;
}
main .main-body .content {
    width: calc(60% - 40px);
    margin: 0 20px;
}

/* ++++++ footer ++++++ */
footer {
    height: 50px;
    margin-top: 10px;
}

/* ++++++ debug ++++++ */
.debug header {
    background-color: hotpink;
}
.debug header nav {
    background-color: tomato;
}

.debug .jumbotron {
    height: 500px;
    background-color: khaki;
}


.debug main {
    background-color: dodgerblue;
}
.debug main .main-header,
.debug main .main-body div {
    background-color: lightblue;
}
.debug main .main-body .sidebar,
.debug main .main-body .content {
    height: 500px;
}


.debug footer {
    background-color: blueviolet;
}